@import "mixins";

@media screen and (min-width: 640px) {
  .container,
  .wrapper {
    min-width: 568px;
  }
  .main, .navbar {
    font-size: 2rem;
  }
  .navbar-nav {
    width: 240px;
  }
  .navbar__link {
    padding: 12px 20px;
    font-size: 1rem;
  }
  .menu-section {
    padding-bottom: 5.5rem;
    font-size: 2rem;

    .menu {
      font-size: 2rem;
    }
  }
  footer {
    font-size: 1.4rem;

    .footer-slogan {
      font-size: 1.2rem;
    }
  }
}

@media screen and (min-width: 980px) and (max-width: 1200px) {
  .container {
    max-width: 946px;
  }
  .wrapper {
    min-width: 490px;
  }

  .navbar {
    max-width: 946px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 7px;

    &-burger-icon {
      display: none;
    }

    &__item {
      background-color: transparent;
    }

    &__link {
      color: $title-color;
      padding: 0;
      text-transform: uppercase;
      background-color: transparent;
      border: 0;

      &:hover {
        background-color: transparent;
        cursor: pointer;
      }
    }

    &-nav {
      width: 70%;
      position: static;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      visibility: visible;
    }

    &-btn {
      display: none;
    }

    &-title {
      display: none;
    }

    &-logo {
      display: block;
    }
  }
  .main {
    margin-bottom: 0.6em;
    font-size: 3.4rem;

    &-des {
      background: url('../img/header_bg_980.png') no-repeat;
      background-size: cover;
      padding-bottom: 5em;

      &__link {
        font-size: 0.6em;
      }
    }

    &-nav {
      flex-direction: row;

      &__description {
        width: 100%;
        padding-top: 2.7em;
        padding-bottom: 2.7em;
      }

      &__title {
        font-size: 0.7em;
      }

      &__link {
        display: none;
      }
    }
  }
  .menu-section {
    &-title {
      height: 89px;
      box-sizing: border-box;
      margin-bottom: 0.2em;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background: url('../img/menu_logo.png') no-repeat 100% 50%;
    }

    .menu {
      flex-wrap: nowrap;
      flex-direction: row;

      &-chapter {
        &-title {
        }

        &-subtitle {
          box-sizing: border-box;
          padding: 15px;

          &__text {
            font-size: 0.8em;
          }

          &__icon {
            font-size: 1.3em;
          }
        }

        .product {
          &__item {
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 0.8em;
            font-size: 0.8em;
            line-height: 2;
          }

          &__inner {
            font-size: 0.6em;
            line-height: 1.5;
          }
        }
      }
    }
  }
  footer {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navbar-logo {
      display: block;
    }

    .footer-slogan {
      text-align: right;
      vertical-align: middle;
      line-height: 5rem;
    }
  }
}

//----------------------------------
@media screen and (min-width: 1201px) {
  .container {
    max-width: 1125px;
  }
  .wrapper {
    min-width: 560px;
  }
  .navbar {
    max-width: 1125px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 7px;
    &-burger-icon {
      display: none;
    }

    &-nav {
      width: 100%;
      position: static;
      display: inline-flex;
      align-items: center;
      visibility: visible;
    }

    &__link {
      background-color: transparent;
      color: $title-color;
      text-transform: uppercase;
      border: 0;

      &:hover {
        background-color: transparent;
        cursor: pointer;
      }
    }

    &-title {
      display: none;
    }

    &-btn {
      display: none;

    }

    &-logo {
      display: block;
    }
  }
  .main {
    font-size: 3.4rem;

    &-des {
      background: url('../img/header_bg_980.png') no-repeat;
      background-size: cover;
      padding-bottom: 7.1em;

      &__link {
        font-size: 0.6em;
      }
    }

    &-nav {
      flex-direction: row;

      &__description {
        width: 100%;
        padding-top: 3.3em;
        padding-bottom: 3.3em;
      }

      &__title {
        font-size: 0.7em;
      }

      &__link {
        display: none;
      }
    }
  }
  .menu-section {
    &-title {
      height: 89px;
      box-sizing: border-box;
      margin-bottom: 0.2em;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background: url('../img/menu_logo.png') no-repeat 100% 50%;
    }

    .menu {
      flex-wrap: nowrap;
      flex-direction: row;

      &-chapter {
        &-title {
        }

        &-subtitle {
          box-sizing: border-box;
          padding: 15px;

          &__text {
            font-size: 0.9em;
          }

          &__icon {
            font-size: 1.5em;
          }
        }

        .product {
          &__item {
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 0.8em;
            font-size: 0.9em;
            line-height: 2;
          }

          &__inner {
            font-size: 0.6em;
            line-height: 1.5;
          }
        }
      }
    }
  }
  footer {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navbar-logo {
      display: block;
    }

    .footer-slogan {
      text-align: right;
      vertical-align: middle;
      line-height: 5rem;
    }
  }
}

