@import "variables";
@import "mixins";
.wrapper {
  width: 286px;
  margin: 0 auto;
}
.menu-section {
  font-size: 1rem;
  padding-bottom: 2rem;
  &-title {
    @extend .container;
    &__text {
      @include font('Lato', 1.1em, uppercase, 400, $text-color, left);
      padding-bottom: 0.2em;
     }
    &__description {
      padding-bottom: 1em;
      @include font('Lato', 0.6em, none, 400, $text-color, left);
    }
  }
  .menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
    &-chapter {
      width: 100%;
      padding-bottom: 0.3em;
      &-title {
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        &--grey-bg {
          background-color: $text-color;
          @include font('Lato', 1.1em, uppercase, 400, $mint-color, left);
        }
        &--mint-bg {
          background-color: $mint-color;
          @include font('Lato', 1.1em, uppercase, 400, $title-color, left);
        }

        &__text {
          @extend .wrapper;
        }
      }
      &-subtitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @extend .wrapper;
        padding-top: 0.75em;
        padding-bottom: 0.9em;
        font-stretch: ultra-condensed;
        &__text {
        @include font('Lato', 1em, uppercase, 400, $text-color, left);
        }
        &__icon {
          color: $mint-color;
          font-size: 1.6em;
        }
      }
      .product {
        //padding-bottom: 5px;
        //@extend .container;

        &__item {
          margin-bottom: 0.7em;
        }

        &__des {
          display: flex;
          justify-content: space-between;
          margin-bottom: 0.4em;
        }

        &__title {
          @include font('Lato', 0.9em, none, 400, $text-color, left);

          &::before {
            content: '\2022';
            padding-right: 0.3rem;
            font-size: 0.4em;
            vertical-align: middle;
          }
        }

        &__price {
          @include font('Lato', 0.9em, none, 700, $text-color, left);

          &::before {
            content: '$';
          }
        }

        &__inner {
          @include font('Lato', 0.55em, none, 400, $text-color, justify);
          font-stretch: ultra-condensed;
          line-height: 1.1;

        }
      }
    }
  }
}
