@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');
@import "mixins";
@import "variables";
@import "menu-section";

.container {
  max-width: 286px;
  margin: 0 auto;
}

.nav-wrapper {
  background-color: $text-color;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  &-title {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1.6em;
    @include font('Montserrat', 0.75em, none, 400, $title-color, left);
  }

  &-burger-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6em 0.95em;
    background-color: #202529;
    cursor: pointer;

    & .navicon {
      position: relative;
      width: 0.9em;
      height: 0.1em;
      display: block;
      transition: background .2s ease-out;
      background: $title-color;

      &:before,
      &:after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        background: $title-color;
        transition: all .2s ease-out;
      }

      &:before {
        top: 0.25em;
      }
      &:after {
        top: -0.25em;
      }
    }
  }

  &-btn {
    display: none;
  }

  &__link {
    display: block;
    padding: 9px 10px;
    @include font('Montserrat', 0.7rem, capitalize, 400, $text-color, left);
    font-stretch: ultra-condensed;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    background-color: #fafafa;

    &:hover {
      background-color: #f5f5f5;
    }
  }

  &-logo {
    display: none;
    width: 104px;
    height: 83px;
    margin-right: 1.9rem;
    background: url('../img/navigation-logo copy@1X.png') no-repeat;
  }
}

.navbar-nav {
  position: fixed;
  width: 180px;
  display: block;
  visibility: hidden;
  top: 2.25em;
  right: -100%;
  margin: 0;
  text-align: right;
  transition: right 0.6s ease;
}

.navbar .navbar-btn:checked ~ .navbar-nav {
  visibility: visible;
  right: 0;
}

.navbar .navbar-btn:checked ~ .navbar-burger-icon .navicon {
  background: transparent;
}

.navbar .navbar-btn:checked ~ .navbar-burger-icon .navicon:before {
  transform: rotate(-45deg);
}

.navbar .navbar-btn:checked ~ .navbar-burger-icon .navicon:after {
  transform: rotate(45deg);
}

.navbar .navbar-btn:checked ~ .navbar-burger-icon:not(.steps) .navicon:before,
.navbar .navbar-btn:checked ~ .navbar-burger-icon:not(.steps) .navicon:after {
  top: 0;
}


.main {
  margin-bottom: 1.1em;
  font-size: 1rem;
  &-des {
    padding-top: 1em;
    padding-bottom: 6em;
    margin-bottom: 0.25rem;
    background: url('../img/header_bg_320.png') no-repeat center;
    background-size: cover;
    &__slogan {
      @extend .container;
      margin-bottom: 0.4em;
      @include font($primary-font, 1em, none, 700, $title-color, left)
    }

    &__link {
      @extend .container;
      @include font ($primary-font, 0.9em, none, 700, $link-color, left);
    }
  }
  &-nav {
    display: flex;
    flex-direction: column;

    &__item {
      width: 100%;
      display: flex;
      margin-bottom: 0.1em;
    }

    &__description {
      width: 78%;
      padding-top: 1.4em;
      padding-bottom: 1.4em;

      &--pizza-bg {
        background: url('../img/Pizza delivery fon copy 3@1X.png') no-repeat bottom;
        background-size: cover;
      }

      &--salad-bg {
        background: url('../img/UA_UX Salads fon copy 3@1X.png') no-repeat 50% 90%;
        background-size: cover;
      }

      &--dessert-bg {
        background: url('../img/Desserts fon copy 3@1X.png') no-repeat 50% 15%;
        background-size: cover;
      }
    }

    &__title {
      width: 100%;
      @include font($primary-font, 1.25em, capitalize, 700, $title-color, center)
    }

    &__link {
      width: 22%;
      background-color: $mint-color;
      display: flex;
      justify-content: center;
      align-items: center;

      &::after {
        content: '';
        width: 0.4em;
        height: 0.4em;
        display: inline-block;
        border-top: 0.06em $title-color solid;
        border-right: 0.06em $title-color solid;
        transform: rotate(45deg);
      }
    }
  }
}

footer {
  padding: 0.7em 0;
  font-size: 1rem;
  background-color: $mint-color;
  .navbar-logo {
    display: none;
  }

  .footer-slogan {
    line-height: 1.5;
    @include font ('Montserrat', 0.75rem, none, 400, $title-color, center);

  }
}

@import "media";
